// CSS for use on every page. Added with normalize.css in pages/_app.tsx.

@import "variables";
@import "typography";

body {
	color: $color-black;
	font-size: 18px;
	line-height: 1.6;
}

.wrap {
	margin: 0 auto;
	max-width: $content-width;
	overflow: auto;
	padding: 0 10px;
}

.wrap img {
	display: block;
	width: 100%;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
 }
  

.content-page .wrap,
.content-single .wrap,
.content-index .wrap {
	padding: 55px 10px;
}

@media screen and (min-width: $content-width) {
	.wrap {
		padding: 0;
	}

	.content-page .wrap,
	.content-single .wrap,
	.content-index .wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.content .button {
	background-color: $color-primary;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-family: $font-family;
	font-weight: $font-weight-bold;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	margin-right: 8px;
}

.content .button:focus,
.content .button:hover {
	background-color: lighten($color-primary, 10);
}

.content .button-secondary {
	background-color: $color-white;
	color: $color-black;
}

.content .button-secondary:focus,
.content .button-secondary:hover {
	background-color: darken($color-white, 10);
}

.pagination ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination.has-next.has-previous ul {
	column-count: 2;
}

.pagination-next {
	text-align: right;
}

.form
{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  min-width: 200px;
  padding: 1em 1em 1em 4em;
  font-size: 1.25rem;
  line-height: 1.5;
  border: 1px solid silver;
  border-radius: 4px;
}

.form input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form input:focus {
  border: 3px solid #555;
}

.form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;

}